@model TP1_ARQWEB.Models.ImageViewModel

@{
    ViewData["Title"] = "Imágen";
}


<h1>Imágen</h1>


@if (Model.CurrentLocation.Image != null)
{
    <img class="location-image" src='@Url.Action("ShowLocationImage", "Image", new { id = Model.CurrentLocation.Id })' width="500"  />
}

@using (Html.BeginForm("Image", "Locations", FormMethod.Post,
                       new { enctype = "multipart/form-data" }))
{
    <label for="file">Subir imágen:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    @Html.HiddenFor(m => m.CurrentLocation)

    <input type="submit" value="Upload" class="submit" /><br />
    <span asp-validation-for="ImageName" class="text-danger"></span>
    <span asp-validation-for="ImageSize" class="text-danger"></span>

}

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
