@model TP1_ARQWEB.Models.QRCodeViewModel


@{
    ViewData["Title"] = "Código QR";
}



<div>
    <h1>@Html.DisplayFor(model => model.location.Nombre)</h1>
    <hr />

    <img src="data:image/png;base64, @Model.QREncodedBase64" width="950" height="950"/>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
