@model TP1_ARQWEB.Models.ViewModels.KeyValuePair

    <div class="card text-center" style="margin-bottom: 25px">
        <h4 class="alert-dark">
            @Html.DisplayFor(m => m.Key)
        </h4>
        <h4>@Html.DisplayFor(m => m.Value) </h4>
    </div>