@model IQueryable<Notification>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="myheader m-2">Bienvenido a CovidWeb!</h1>

<p class="myparagr m-2">En este sitio vas a poder registrar locaciones y contagios.</p>

    <div class="col screen-sm-min">
        <a id="reports" class="nav-link text-dark alert-info m-2" asp-area="" asp-controller="Reports" asp-action="Index">Reportes</a>


    </div>
    <div class="col hidden-md-up">
        <a id="locat" class="nav-link text-dark alert-info m-2" asp-area="" asp-controller="Locations" asp-action="Index">Locaciones</a>

    </div>

@try
{



    <div class="text-center">
        @foreach (Notification notification in Model)
        {
             
                string notificationString = "";
                switch (notification.NotificationType)
                {
                    case (Notification.Type.AtRisk):
                        notificationString = "Entraste contacto con alguién contagiado de CoronaVirus alrededor del " + notification.Date.ToString("dd/MM") + " a las " + notification.Date.ToString("HH:mm tt");
                        break;
                    default:
                        break;
                }
            

            <form asp-action="ClearNotification" asp-route-id="@notification.Id">
                <span class="btn btn-danger">
                    @notificationString <input type="submit" value="OK" class="btn btn-warning" />
                </span>
            </form>
        }



    </div>
}
catch (Exception ex)
                {

                }
