@model IQueryable<Notification>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @foreach (Notification notification in Model)
    {
    <form asp-action="ClearNotification" asp-route-id="@notification.Id">
        <span class="btn btn-danger">
            @notification.GetNotificationString() <input type="submit" value="OK" class="btn btn-warning" />
        </span>
    </form>
    }

</div>
