@{
    ViewData["Title"] = "Nosotros";
}

<p>Trabajo práctico hecho por</p>
<ul>
    <li>Alejandro Cortez</li>
    <li>Santiago Dandois</li>
    <li>Matías Waehner</li>
    <li>Ricardo Ramos</li>
</ul>
