@{
    ViewData["Title"] = "Nosotros";
}

<p class="myparagr-priv">Trabajo Hecho Por</p>
 
    <ul class=" lista-gente">
        <li>

            <div class="autor">
                <img src="/images/madagascar1(cut-scale).jpg" />
                <p>Alejandro Cortez</p>
            </div>
        </li>
        <li>

            <div class="autor">
                <img src="/images/madagascar2(cut-scale).jpg" />
                <p>Santiago Dandois</p>
            </div>
        </li>
        <li>

            <div class="autor">
                <img src="/images/madagascar3(cut-scale).jpg" />
                <p>Matías Waehner</p>
            </div>

        </li>
        <li>

            <div class="autor">
                <img src="/images/madagascar4(cut-scale).jpg" />
                <p>Ricardo Ramos 4</p>
            </div>

        </li>
    </ul>
 
