@model TP1_ARQWEB.Models.InfectionReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InfectionReport</h4>
    <hr />
    <dl class="row">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>
    </dl>
</div>
<div >
    <a class="btn-outline-danger" asp-action="Discharge" asp-route-id="@Model.Id">Informar Alta Médica</a> |
</div>
