


@model AdministratorViewModel
@{
    ViewData["Title"] = "Administrador";
}
@*<h2>@ViewData["Title"]</h2>*@
 
<div class="btn-group">
    <div class="btn alert-primary" style="width: auto">

        @Html.ActionLink("Estadisticas", "Index", "Statistics")
    </div>
    <div class="btn alert-primary" style="width: auto">

        @Html.ActionLink("Mapa", "Index", "Map")
    </div>
    <div class="btn alert-primary" style="width: auto">

        @Html.ActionLink("Usuarios Propietarios", "DataUsers", "Administrator")
    </div>
</div> 

 